@inherits KarbonView
@{
    var education = Json.Decode(Model.CurrentPage.Get("Education"));
    int count = education.Length;
    int size = 4;

    if (count == 1)
    {
        size = 12;
    }
    else if (count == 2)
    {
        size = 6;
    }
}

<!-- education begins -->
<section id="page-education" class="page-education">
    <div class="container">
        <header class="section-header">
            <h2 class="section-title"><span>Education</span></h2>
            <div class="spacer"></div>
            <p class="section-subtitle">@Model.CurrentPage.Get("EducationSubtitle")</p>
        </header>
        <div class="row">
        @foreach (var school in education)
        {
            <div class="col-md-@size">
                <article class="education">
                    <header>
                        <h3>@school.school</h3>
                        <p>@school.degree - <strong>@school.status:</strong> @school.year</p>
                    </header>
                    <p>@school.description</p>
                </article>
            </div>
        }
        </div>
    </div>
</section><!-- education ends -->
