@inherits KarbonView
@{
    var experience = Json.Decode(Model.CurrentPage.Get("Experience"));
    int count = experience.Length;
    int size = 4;

    if (count == 1)
    {
        size = 12;
    }
    else if (count == 2)
    {
        size = 6;
    }
}

<!-- experience begins -->
<section id="page-experience" class="page-experience">
    <div class="container">
        <header class="section-header">
            <h2 class="section-title"><span>Experience</span></h2>
            <div class="spacer"></div>
            <p class="section-subtitle">@Model.CurrentPage.Get("ExperienceSubtitle")</p>
        </header>
        <div class="row">
        @foreach (var job in experience)
        {
            <div class="col-md-@size">
                <article class="experience">
                    <header>
                        <h3>@job.company</h3>
                        <p>@job.title / @job.location / @job.dates</p>
                    </header>
                    <p>@job.description</p>
                </article>
            </div>
        }
        </div>
    </div>
</section><!-- experience ends -->
